:root {
  --nav-height: 4.8rem;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

/* Utilities */
.contained {
  width: 80%;
  margin: 0 auto;
}

/* Header */

header {
  height: 100vh;
  position: relative;
}

/* Navigation */
nav {
  display: flex;
  height: 4.8rem;

  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

.logo-container,
.nav-actions {
  align-self: center;
}

.nav-links {
  display: flex;
  list-style: none;
  flex-grow: 1;
  align-self: center;
  justify-content: left;
}

.nav-link {
  flex-grow: 1;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

.logo-container > a > img {
  height: 4.8rem;
}

/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1470259078422-826894b933aa?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% - var(--nav-height));

  align-items: center;
}

p.opening-hours {
  position: absolute;
  top: 50%;
  right: -8rem;
  transform: rotate(90deg) translateY(-50%);
  font-size: 2rem;
  color: white;
}

.main-headline {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  color: white;
  line-height: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
}

.slogan {
  font-size: 2rem;
  letter-spacing: 0.6rem;
  color: white;
  margin-bottom: 1rem;
}

.hero-cta {
  padding: 1rem 2.4rem;
  background-color: black;
  align-self: flex-start;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10rem;
}

.hero-cta > i {
  color: darkgray;
  margin-right: 5px;
}

.cta-card {
  background-color: black;
  color: white;
  max-width: 280px;
  min-height: 240px;
  padding: 2rem 0;
}

.cta-card > * {
  padding: 1rem 2.5rem;
}

.cta-card > span {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;

  border-left: 4px solid white;
  text-transform: uppercase;
}

.cta-card > p {
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.cta-card > p span {
  font-size: 2.8rem;
  font-weight: bold;
}

.cta-card > a {
  display: inline-block;
  margin-left: 2rem;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.cta-card > a i {
  margin-right: 0.5rem;
}

.indicators {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  gap: 2rem;
}

.indicator {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50%;
  font-size: 1.6rem;
}

/* Main Section */

/* Features  Section*/

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.feature {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-image {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.img-container {
  position: relative;
  padding: 1rem;
}

.img-decoration {
  position: absolute;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -80%);
}
