main {
  display: flex;
  max-width: 100%;
  gap: 100px;
}

#session__drivers {
  display: flex;
  flex-direction: row;
  flex-basis: 75%;
  flex-wrap: wrap;
  gap: 2rem;
}

.driver {
  border: 2px solid black;
  padding: 1rem;
  flex-basis: 20%;
  text-align: center;
}

.driver > img {
  width: 100px;
  height: 100px;
}
